[submodule "portaudio"]
	path = player/3rdparty/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "pugixml"]
	path = player/3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "signed-media-framework"]
	path = player/3rdparty/signed-media-framework
	url = https://github.com/andrewGuzGRSE/signed-media-framework.git
