[Desktop Entry]
Name=Onvif Player
Comment=Onvif Player $VERSION
Exec=/usr/local/bin/onvif-player
Icon=/usr/share/icons/onvif-player.png
Terminal=false
Type=Application
Categories=AudioVideo;

